<configuration>

    <!-- Define the pattern for console logging -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level traceId-%X{traceId} spanId-%X{spanId} %logger{36} - %msg %n"/>

    <!-- Define the console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Custom logger configuration -->
    <logger name="com.example.demo" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>